<?xml version="1.0"?>
<appSettings>
	<add key = "testConnection" value="Server=localhost;Database=bookstore;Integrated Security=SSPI;Persist Security Info=False" />
	<add key = "auditDbConnection" value="Server=localhost;Database=bookstore;Integrated Security=SSPI;Persist Security Info=False" />

  <add key = "owin:AutomaticAppStartup" value="true" />
  <add key = "authority" value="https://v000080111.nbgit.gr/myIdentityUI" />
  <add key = "apiResourceName" value="FD0957BF-33F3-4715-9802-E11D21803F2A" />
  <add key = "apiResourceSecret" value="529E1621-9CAA-4AED-B773-545349ABAEA0" />
  <add key = "requiredScope" value="bookstore-api-v1" />
  <add key = "requiredAdminScope" value="bookstore-api-admin-v1" />
</appSettings>
