<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bUtility" version="0.0.0.7" targetFramework="net461" />
  <package id="bUtility.Dapper" version="0.0.0.11" targetFramework="net461" />
  <package id="bUtility.Json" version="0.0.0.1" targetFramework="net461" />
  <package id="bUtility.Logging" version="0.0.0.1" targetFramework="net461" />
  <package id="bUtility.SecurityToken" version="0.0.0.2" targetFramework="net461" />
  <package id="bUtility.WebApi" version="1.0.0.20" targetFramework="net461" />
  <package id="Dapper.StrongName" version="1.50.0" targetFramework="net461" />
  <package id="ibank.Hosting.WebApi" version="0.0.0.19" targetFramework="net461" />
  <package id="ibank.Identity" version="0.0.0.8" targetFramework="net461" />
  <package id="ibank.Types.Base" version="0.0.0.11" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package id="Model.Hosting" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry" version="4.5.1" targetFramework="net461" />
</packages>