<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <!--++++++++++++++++++++++++++++++++++++++++++-->
    <!-- Audit Filter settings                    -->
    <!--++++++++++++++++++++++++++++++++++++++++++-->
    <add key="auditFilterConfigSource" value="Configuration\Current\auditFilterSettings.config" />
</appSettings>
