<?xml version="1.0" encoding="utf-8"?>
<auditFilterSettings
    useSqlServer="true"
    useBigDataClient="true"
    setPrimarySqlServer="true"
    setPrimaryBigDataClient="false"
    debugBigDataClientActiveHostList="WXXXXXXXXX, VYYYYYYYYY"
    debugBigDataClientServiceNameList="/api/XXXX, /api/YYYY"
    updateAuditRecordLookBackHoursInterval = "24"
/>