<auditFilterSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		useSqlServer="true"
		useBigDataClient="false"
		setPrimarySqlServer="true"
		setPrimaryBigDataClient="false">
  <rules>
    <rule
		    serviceName="/billpayments/paymentsList"
		    audit="true"
		    auditResponse="true"
		    auditResponseSql="true"
		    auditResponseBigData="true"
		    auditResponsePayload="true"
		    auditResponsePayloadSql="true"
		    auditResponsePayloadBigData="true"
		    auditRequest="true"
		    auditRequestSql="true"
		    auditRequestBigData="true"
		    auditRequestPayload="true"
		    auditRequestPayloadSql="true"
		    auditRequestPayloadBigData="true" 
        updateAuditRecordLookBackHoursInterval="24"/>
  </rules>
</auditFilterSettings>