<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\logs\nlog-internal.log"
      globalThreshold="Trace"
      >
  <!-- USE globalThreshold="Off" to turn off ALL tracing -->

  <variable name="logRootFolder" value="c:\logs"/>
  <variable name="applicationName" value="NBG.BigData"/>

  <targets>

    <!-- Powershell commands 
        Get-EventLog -List
        Remove-EventLog -LogName "LogName" -Source "ApplicationName-SourceName"
        New-EventLog -LogName "LogName" -Source "ApplicationName-SourceName"
        Limit-EventLog -LogName "LogName" -MaximumSize 20480KB -OverflowAction OverwriteAsNeeded
        Get-WmiObject win32_nteventlogfile -Filter "logfilename='LogName'" | foreach {$_.sources}
    -->
    <!-- Powershell commands to create BigData Logs:
            New-EventLog -LogName "BD-BigData" -Source "applicationName-BD-BigData"
            New-EventLog -LogName "BD-Time" -Source "applicationName-BD-Time"
            New-EventLog -LogName "BD-FailedCalls" -Source "applicationName-BD-FailedCalls"
    -->
    <target xsi:type="EventLog"
            name="eventLog"
            log="${applicationName}"
            source="${applicationName}"
            layout="${callsite:className=true:includeNamespace=true:includeSourcePath=true:methodName=true:} ${message}${newline}${exception:format=ToString}" />

    <target xsi:type="EventLog"
            name="eventLogBigData"
            log="BD-BigData"
            source="${applicationName}-BD-BigData"
            layout="${applicationName}|${threadid:padding=3}|${logger}|${message}${newline}${exception:format=ToString}" />

    <target xsi:type="EventLog"
            name="eventLogBigDataClientTime"
            log="BD-Time"
            source="${applicationName}-BD-Time"
            layout="${threadid:padding=3}|${message}" />

    <target xsi:type="EventLog"
            name="eventLogBigDataClientFailedCalls"
            log="BD-FailedCalls"
            source="${applicationName}-BD-FailedCalls"
            layout="${threadid:padding=3}|${message}" />

    <target xsi:type="File"
            name="file"
            fileName="${logRootFolder}\${applicationName}-${date:format=yyyyMMdd}.log"
            layout="${longdate}|${level:uppercase=true:padding=-5}|${threadid:padding=4}|${logger}|${message}${onexception: ***EXCEPTION***${newline}${exception:format=tostring}}" />

    <target xsi:type="File"
            name="fileBigDataClientFailedCalls"
            fileName="${logRootFolder}\BigDataClientFailedCalls-${date:format=yyyyMMdd}.log"
            layout="${longdate}|${threadid:padding=4}|${message}" />

    <target xsi:type="File"
            name="fileBigDataClientCalls"
            fileName="${logRootFolder}\BigDataClientCalls-${date:format=yyyyMMdd}.log"
            layout="${longdate}|${threadid:padding=4}|${message}" />

    <target xsi:type="File"
            name="fileBigDataClientTime"
            fileName="${logRootFolder}\BigDataClientTime-${date:format=yyyyMMdd}.log"
            layout="${longdate}|${level:uppercase=true:padding=-5}|${threadid:padding=3}|${logger}|${message}${onexception: ***EXCEPTION***${newline}${exception:format=tostring}}" />

  </targets>

  <rules>

    <logger
      name="BigDataClientFailedCalls"
      minlevel="Debug"
      writeTo="fileBigDataClientFailedCalls,eventLogBigDataClientFailedCalls"
      final="true">
    </logger>

    <!-- WARNING: FOR NORMAL PRODUCTION USE, SET minlevel="Off" -->
    <logger
      name="BigDataClientCalls"
      minlevel="Debug"
      writeTo="fileBigDataClientCalls,eventLogBigData"
      final="true">
    </logger>

    <logger
      name="BigDataClientTime"
      minlevel="Debug"
      writeTo="fileBigDataClientTime,eventLogBigDataClientTime"
      final="true">
    </logger>

    <!-- WARNING: FOR NORMAL PRODUCTION USE, SET minlevel="Info" -->
    <logger
      name="*"
      minlevel="Debug"
      writeTo="file,eventLogBigData">
    </logger>

  </rules>
</nlog>
