<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bUtility" version="0.0.0.7" targetFramework="net461" />
  <package id="bUtility.Dapper" version="0.0.0.11" targetFramework="net461" />
  <package id="bUtility.Json" version="0.0.0.1" targetFramework="net461" />
  <package id="bUtility.Logging" version="0.0.0.1" targetFramework="net461" />
  <package id="bUtility.SecurityToken" version="0.0.0.2" targetFramework="net461" />
  <package id="bUtility.WebApi" version="1.0.0.20" targetFramework="net461" />
  <package id="Dapper.StrongName" version="2.0.35" targetFramework="net461" />
  <package id="ibank.Audit.Filter" version="1.1.9" targetFramework="net461" />
  <package id="ibank.Audit.Implementation" version="0.0.0.10" targetFramework="net461" />
  <package id="ibank.Audit.Interfaces" version="0.0.0.9" targetFramework="net461" />
  <package id="ibank.Audit.SimpleInjector" version="0.0.0.2" targetFramework="net461" />
  <package id="ibank.Hosting.WebApi" version="0.0.0.19" targetFramework="net461" />
  <package id="ibank.Identity" version="0.0.0.11" targetFramework="net461" />
  <package id="ibank.Types.Base" version="0.0.0.13" targetFramework="net461" />
  <package id="IdentityModel" version="1.9.2" targetFramework="net461" />
  <package id="IdentityServer3.AccessTokenValidation" version="2.14.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.1.1" targetFramework="net461" />
  <package id="Model.Hosting" version="1.0.0.0" targetFramework="net461" />
  <package id="NBG.BigData" version="0.4.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="SimpleInjector" version="5.0.3" targetFramework="net461" />
  <package id="SimpleInjector.Integration.WebApi" version="5.0.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
</packages>